<style>
body {
  margin: 20px auto;
  font-family: 'Lato';
  background:#666;
  color:#fff;
}

*{
  margin:0;
  padding:0;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
}
p {
  font-family: 'Reenie Beanie';
  font-size: 2rem;
}
ul,li{
  list-style:none;
}
ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
ul li a{
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:100%;
  width:100%;
  padding:1em;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transform: rotate(-6deg);
  transition: transform .15s linear;
}

ul li:nth-child(even) a{
  transform:rotate(4deg);
  position:relative;
  top:5px;
  background:rgb(130, 255, 96);
}
ul li:nth-child(3n) a{
  transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:rgb(255, 255, 255);
}

ul li:nth-child(4n) a{
  transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:rgb(255, 0, 0);
}

ul li:nth-child(5n) a{
  transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:gold;
}

ul li:nth-child(6n) a{
  transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:rgb(52, 219, 245);
}
ul li:nth-child(5n) a{
  transform:rotate(5deg);
  position:relative;
  top:-10px;
}

ul li a:hover,ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  transform: scale(1.25);
  position:relative;
  z-index:5;
}

ul li{
  margin:1em;
}
</style>

<style>
    .testo {
      width: 20ch;
      word-wrap: break-word;
      font-size:15px;
    }
  </style>
<%- include("./template/header")%>
<ul>
<% data.forEach(function(item) { %>
<li>
<a class="<%= (item.id % 2 == 1) ? "bg-light" : "" %>">
<h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 15px;"><%= item.Nome %></h1>
<p class="testo"><%= item.Posts %></p>
 </a>
 </li>
    <% }); %>
</ul>
 <%- include("./template/footer")%>
